<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <h1>New Dojo</h1>
        <form action="/create_dojo" method="POST">
            <label for="dojo_name">Dojo Name:</label>
            <input type="text" name="dojo_name">
            <input type="submit" placeholder="Create">
        </form>
    <p>============================================</p>
        <ul>
            {% for one_dojo in dojos%}
                <li><a href="/one_dojo/{{ one_dojo.id }}"> {{one_dojo.name}}</a></li>
            {% endfor %}
        </ul>
    <p>=====================================================</p>
    <a href ="/create_ninja">Create Ninja</a>
</body>
</html>